* {
  box-sizing: border-box;
  /*Mantem tamanho das */
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-topo {
  background-color: rgba(255,255,255,0.96);
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.busca::placeholder{
  text-align: center;
}

.logo {
  width: 200px;
  height: 40px;
  border: 1px solid grey;
}
.busca {
  width: 200px;
  height: 30px;
}
.login {
  width: 200px;
  height: 40px;
  border: 1px solid grey;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 15px;
}
h2 {
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.container-principal {
  display: flex;
  margin-top: 60px;
  margin-left: 80;
}

.container-menu {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  position: fixed;
  height: 100%;
  left: 0;
}

.container-menu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 80px;
  height: 80px;
}

.container-menu div:hover {
  background-color: grey;
  cursor: pointer;
}

.container-menu img {
  width: 30px;
}

.container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 20px;
}

.video {
  background-color: red;
  width: 45%;
  min-width: clamp(200px,350px, /*Não particularmente funcionando como gostaria*/
  45%);
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.imagem-video{
  position: relative;
  /*Faz com que filhos com o position:absolute se comportem com posição relativo ao pai*/
}

.tempo-video{
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  display: inline;
  padding: 3px;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  right: 3px;
  border-radius: 3px;

}

img {
  width: 100%;
}

.titulo {
  font-weight: bold;
  color: black;
  font-size: 18px;
  margin-top: 5px;
}

.subtitulo {
  font-size: 14px;
}

.cinza {
  color: grey;
}

a {
  text-decoration: none;
}
/*
Break point -> 600 px
Basicamente funciona como um "if max-width <= 600 px"
*/
@media (max-width: 600px) {
  .container-menu {
    /*
    Oculta o menu lateral quando a largura <= 600 px;
    */
    display: none;
  }
  .container-principal{
    margin-left: 0;
  }
}
